*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    margin: 50px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(190, 190, 190);
}

h1 {
    margin: 25px;
    justify-content: center;
    width: 100%;
}
button#speed-clicker {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 5px 3px 5px 3px gray;
}
