/* .badge-container {
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;

}
.header {
    background-color: darkgray;
    border-radius: 5px;

}
.header h2{
    margin:0;
    background-color: darkgray;
   border-radius: 5px;
}

.textarea {
    border: 1px solid black;
    height: 250px;
    width: 700px;
   margin-left: 12%;
}
.name,
.birthLocation,
.email{
    margin-left: 100px;
}
.phone{
   float: right;
   margin-top: -210px;
   margin-right: 200px;
  
}
.favFood{
    float: right;
   margin-top: -157px;
   margin-right: 200px;

} */
