.badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 10px;
    border: 1px solid black;

}
.header {
    background-color: darkgray;
    border-radius: 5px;

}
.header h2{
    margin:0;
    background-color: darkgray;
   
}

.textarea {
    border: 1px solid black;
    height: 250px;
    width: 300px;
   
}
/* .name,
.birthLocation,
.email{
    margin-left: 100px;
}
/* .phone{
   float: right;
   margin-top: -210px;
   margin-right: 200px;
  
} */
/* .favFood{
    float: right;
   margin-top: -157px;
   margin-right: 200px;
 */ 
